<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Angular-phone-book</title>
    <link rel="stylesheet" type="" href="bower_components/foundation/css/foundation.min.css">
    <link rel="stylesheet" type="" href="style.css">
</head>

<body ng-controller="phonebookCtrl">

    <form>
        <div class="row">
            <div class="small-3 columns">
                <label class="right inline">ФИО</label>
            </div>
            <div class="small-9 columns">
                <input type="text" ng-model="name" />
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label class="right inline">№ телефона</label>
            </div>
            <div class="small-9 columns">
                <input type="text" ng-model="phone" />
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label class="right inline">Эл. почта</label>
            </div>
            <div class="small-9 columns">
                <input type="text" ng-model="email" />
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns"></div>
            <div class="small-9 columns">
                <button class="small radius" ng-click="addNewPerson()" ng-hide="currentPersonId > -1">Добавить</button>
                <button class="small radius" ng-click="savePerson()" ng-show="currentPersonId > -1">Сохранить</button>
            </div>
        </div>
    </form>

    <table id="phonebook">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in phonebook">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{person.name}}
                </td>
                <td>
                    {{person.phone}}
                </td>
                <td>
                    {{person.email}}
                </td>
                <td>
                    <ul class="button-group radius">
                        <li><button class="tiny radius" ng-click="editPerson($index)">Редактировать</button></li>
                        <li><button class="tiny radius alert" ng-click="deletePerson($index)">Удалить</button></li>
                    </ul>
                    
                </td>
            </tr>
        </tbody>
    </table>




    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js">

    </script>
</body>

</html>